* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#clock {
    padding: 15px;
    font-size: 6rem;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.86);
}

.box-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.boxes-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background: rgba(255, 255, 255, 0.21);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.86);
}

.box {
    background-color: #000000;
    font-size: 1.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    border: solid 4px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.04);
}

.box i {
    font-size: 2rem;
}

.boxes-main a {
    text-decoration: none;
}

.boxes-other {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background: rgba(255, 255, 255, 0.21);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.86);
}

.boxes-other a {
    text-decoration: none;
}

@media (max-width: 479px) {
    #clock {
        font-size: 3rem;
    }

    .box-links {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #clock {
        font-size: 3rem;
        margin-top: -35rem;
    }

    body {
        padding-top: 18rem;
    }

    .box-links {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #clock {
        font-size: 3rem;
    }

    .boxes-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #clock {
        font-size: 3rem;
    }

    .box-link {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1281px) and (max-width: 1400px) {
    #clock {
        font-size: 4rem;
    }

    .boxes-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1401px) and (max-width: 1500px) {
    #clock {
        font-size: 5rem;
    }

    .boxes-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1501px) and (max-width: 1919px) {
    .boxes-main {
        grid-template-columns: repeat(4, 1fr);
    }
}