* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav {
    width: 200px;
    height: 100%;
    color: #ffffff;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vmax;
}

.nav-item {
    display: flex;
    align-items: center;
    width: 50px;
    height: 5vh;
    padding: 10px;
    gap: 0.5vmax;
    transition: 0.8s;
    overflow: hidden; 
}

.nav-item:hover {
    width: 200px;
}

.nav-icon {
    width: 50px;
    text-align: center;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.6s, width 0.8s;
    width: 0;
    overflow: hidden;
    font-weight: bold;
}

.nav-item:hover .nav-text {
    opacity: 1;
    width: auto;
} 

.nav-item i {
    font-size: 2rem;
}

.nav-item span {
    font-size: 1.3rem;
}

.one {
    background-color: #00C9ED;
    color: #ffffff;
    text-decoration: none;
}

.two {
    background-color: #3900E5;
    color: #ffffff;
    text-decoration: none;
}

.three {
    background-color: #000D9F;
    color: #ffffff;
    text-decoration: none;
}

.four {
    background-color: #000759;
    color: #ffffff;
    text-decoration: none;
}

.five {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

/*SEARCH*/

.search-bar {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search {
    width: 600px;
    height: 30px;
}

#filter {
    width: 100px;
    height: 32px;
}


/*Rozcestník*/

.webs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0vmax 25vmax 1vmax 25vmax;
    padding-top: 8vh;
}



.boxes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box img {
    width: 50px;
    height: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vmax;
}

.box a {
    text-decoration: none;
}

/*RESPONSIVITA*/

@media (min-width: 480px) and (max-width: 768px) {
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    #search {
        width: 300px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .boxes {
        grid-template-columns: repeat(4, 1fr);
    }

    #search {
        width: 500px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .boxes {
        grid-template-columns: repeat(5, 1fr);
    }

    #search {
        width: 600px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .boxes {
        grid-template-columns: repeat(7, 1fr);
    }

    #search {
        width: 600px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1401px) and (max-width: 1920px) {
    #search {
        width: 500px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}