* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav {
    width: 170px;
    height: 100%;
    color: #ffffff;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vmax;
}

.nav-item {
    display: flex;
    align-items: center;
    width: 50px;
    height: 5vh;
    padding: 10px;
    gap: 0.3vmax;
    transition: 0.8s;
    overflow: hidden; 
}

.nav-item:hover {
    width: 170px;
}

.nav-icon {
    width: 50px;
    text-align: center;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.6s, width 0.8s;
    width: 0;
    overflow: hidden;
    font-weight: bold;
}

.nav-item:hover .nav-text {
    opacity: 1;
    width: auto;
} 

.nav-item i {
    font-size: 2rem;
}

.nav-item span {
    font-size: 1.1rem;
}

.one {
    background-color: #a6a9ff;
    color: #ffffff;
    text-decoration: none;
}

.two {
    background-color: #7573ff;
    color: #ffffff;
    text-decoration: none;
}

.three {
    background-color: #493bff;
    color: #ffffff;
    text-decoration: none;
}

.four {
    background-color: #3214ff;
    color: #ffffff;
    text-decoration: none;
}

.five {
    background-color: #1e00ff;
    color: #ffffff;
    text-decoration: none;
}

.six {
    background-color: #1a01d6;
    color: #ffffff;
    text-decoration: none;
}

.seven {
    background-color: #1703af;
    color: #ffffff;
    text-decoration: none;
}

#clock {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 4rem;
}

/*SEARCH*/

.search-bar {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search {
    width: 600px;
    height: 30px;
}

#filter {
    height: 32px;
    width: 100px;
}

/*Rozcestník*/

.webs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0vmax 25vmax 0vmax 25vmax;
    padding-top: 16vh;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box img {
    width: 50px;
    height: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vmax;
}

.box a {
    text-decoration: none;
}

#svethostingu {
    width: 130px;
    height: 50px;
}

/*RESPONSIVITA*/

@media (min-width: 480px) and (max-width: 768px) {
    #clock {
        padding-top: 8rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 5rem;
        gap: 0;
    }

    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    #search {
        width: 300px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #clock {
        padding-top: 8rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 5rem;
        gap: 0;
    }

    .boxes {
        grid-template-columns: repeat(4, 1fr);
    }

    #search {
        width: 500px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    nav {
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .boxes {
        grid-template-columns: repeat(5, 1fr);
    }

    #search {
        width: 600px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .boxes {
        grid-template-columns: repeat(7, 1fr);
    }

    #search {
        width: 600px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1401px) and (max-width: 1920px) {
    #search {
        width: 500px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}