* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav {
    width: 170px;
    height: 100%;
    color: #ffffff;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vmax;
}

.nav-item {
    display: flex;
    align-items: center;
    width: 50px;
    height: 5vh;
    padding: 10px;
    gap: 0.3vmax;
    transition: 0.8s;
    overflow: hidden; 
}

.nav-item:hover {
    width: 170px;
}

.nav-icon {
    width: 50px;
    text-align: center;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.6s, width 0.8s;
    width: 0;
    overflow: hidden;
    font-weight: bold;
}

.nav-item:hover .nav-text {
    opacity: 1;
    width: auto;
} 

.nav-item i {
    font-size: 2rem;
}

.nav-item span {
    font-size: 1.1rem;
}

.one {
    background-color: #a6a9ff;
    color: #ffffff;
    text-decoration: none;
}

.two {
    background-color: #7573ff;
    color: #ffffff;
    text-decoration: none;
}

.three {
    background-color: #493bff;
    color: #ffffff;
    text-decoration: none;
}

.four {
    background-color: #3214ff;
    color: #ffffff;
    text-decoration: none;
}

.five {
    background-color: #1e00ff;
    color: #ffffff;
    text-decoration: none;
}

.six {
    background-color: #1a01d6;
    color: #ffffff;
    text-decoration: none;
}

.seven {
    background-color: #1703af;
    color: #ffffff;
    text-decoration: none;
}

#clock {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 4rem;
}

#spotify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap: 3rem;
}

#boxes {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.first-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

