* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: #002c5c;
    height: 10vh;
    padding: 0px 50px 0px 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
    position: fixed;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 5vw;
}

li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

/*SEARCH*/

.search-bar {
    padding-top: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search {
    width: 600px;
    height: 30px;
}

#filter {
    height: 33px;
}

/*Rozcestník*/

.webs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0vmax 25vmax 0vmax 25vmax;
    padding-top: 16vh;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box img {
    width: 50px;
    height: 50px;
}

#sosehl {
    width: 80px;
    height: 50px;
}

#onedrive {
    width: 80px;
    height: 50px;
}

#moodle {
    width: 60px;
    height: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vmax;
}

.box a {
    text-decoration: none;
}

/*RESPONSIVITA*/

@media (min-width: 480px) and (max-width: 768px) {
    nav {
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    #search {
        width: 300px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .boxes {
        grid-template-columns: repeat(4, 1fr);
    }

    #search {
        width: 500px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    nav {
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .boxes {
        grid-template-columns: repeat(5, 1fr);
    }

    #search {
        width: 600px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .boxes {
        grid-template-columns: repeat(7, 1fr);
    }

    #search {
        width: 600px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}

@media (min-width: 1401px) and (max-width: 1920px) {
    #search {
        width: 500px;
        border: solid 1px #000000;
    }

    #filter {
        border: solid 1px #000000;
    }
}